<html>

<head>
    <h1>
        <%= title %>
    </h1>
</head>

<body>
    <p><%- include('../partials/menu') %></p>
    <p>Login Page Not Implemented</p>
    <script src="/js/main.js"></script>
</body>

</html>