body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.pile-container {
    margin: 20px 0;
    justify-content: center;
}

.pile, .draw-pile {
    text-align: center;
    padding-left: 40px;
}

.card {
    width: 50px;
    height: 80px;
    border: 2px solid #333;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
}

/* Styling for draw pile card back */
.card.draw-back {
    background-color: gray; /* Represents the back of a card */
    color: white;
}

/* Apply background color based on card value */
.card.color-0 {
    background-color: #ff4c4c; /* Red for 0 */
    color: white;
}

.card.color-1 {
    background-color: #4caf50; /* Green for 1 */
    color: white;
}

.card.color-2 {
    background-color: #2196f3; /* Blue for 2 */
    color: white;
}

.card.color-3 {
    background-color: #ffeb3b; /* Yellow for 3 */
    color: black;
}

.card.color-4 {
    background-color: #2C2C2C; /* Blue for 2 */
    color: white;
}

/* Player area */
.players {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.player {
    border: 2px solid #333;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.player h2 {
    margin-bottom: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

span.card-count {
    padding-left: 30px;
}

.card-text {
    font-size: clamp(10px, 4vw, 32px); /* Responsive font size */
    font-weight: bold;
    color: #000;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Truncates the text with ellipsis if necessary */
}

#chat-section {
    position: fixed;
    top: 0;
    right: 0; 
    display: flexbox;
    flex-direction: column;
    width: 300px;
    height: 400px; /* Set a fixed height */
    max-height: 400px; /* Ensure it doesn't expand beyond this */
    border: 2px solid #cccccc86;
    z-index: 1000;
}

#messages {
    flex-grow: 1;
    overflow-y: scroll;
    width: full;
    border-radius: 8px;
    margin-bottom: 16px; /* Add margin to separate it from the input form */
}

.chat-message {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 8px;
}

#chat-form {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    padding-top: 8px;
}

#chat-message {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
}

.username {
    font-weight: bold;
}

button[type="submit"] {
    margin-left: 8px;
    background-color: #3490dc;
    color: white;
    padding: 8px;
    border-radius: 8px;
}