<template id="chat-message-template">
    <li class="chat-message flex flex-row items-center">

        <img
            class="gravatar w-[16px] h-[16px] rounded-[8px] mr-[4px] self-start"
            alt="sender" />
        <div>: </div>
        <span class="content text-[8px] text-gray-700"></span>
    </li>
</template>

<aside id="chat-section" class="h-[300px] flex flex-col">
    <ul id="messages">
    </ul>
    <form method="post" class="flex flex-row h-[20px] mt-[8px]">
        <input id="chat-message" autocomplete="off" />
        <button type="submit">Send</button>
    </form>
</aside>
<script src="/js/chat.js"></script>