<nav>
    <ul>
      <li>
        Home
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </li>

      <li>
        Main Lobby
        <ul>
          <li><a href="/lobby">Main Lobby</a></li>
        </ul>
      </li>
      <li>
        Game Pages
        <ul>
          <li><a href="/games">Game lobby</a></li>
        </ul>
      </li>
      <li>
        Registration
        <ul>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </li>
    </ul>
  </nav>