<nav>
  <ul>
    <li>
      Home
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </li>
    <li>
      Main Lobby
      <ul>
        <li><a href="/lobby">Main Lobby</a></li>
      </ul>
    </li>
    <li>
      Game Lobby
      <ul>
        <li><a href="/games/gamelobby">Game lobby</a></li>
      </ul>
    </li>
    <li>
      Game Page
      <ul>
        <li><a href="/games/game">Game Page</a></li>
      </ul>
    </li>
    <li>
      Registration
      <ul>
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/auth/login">Login</a></li>
      </ul>
    </li>
  </ul>
  <% if(locals.user !== undefined) { %>
  <div class="flex flex-row items-center">
    <a href="/auth/logout">Logout</a>
    <img src="https://gravatar.com/avatar/<%= locals.user.gravatar %>"
      alt="Gravatar of <%= locals.user.username %>"
      class="w-[40px] h-[40px] rounded-[20px] ml-[10px]" />
  </div>
  <% } %>
</nav>