<nav>
  <ul>
    <li>
      Home
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </li>

    <li>
      Main Lobby
      <ul>
        <li><a href="/lobby">Main Lobby</a></li>
      </ul>
    </li>
    <li>
      Game Lobby
      <ul>
        <li><a href="/games/gamelobby">Game lobby</a></li>
      </ul>
    </li>
    <li>
      Game Page
      <ul>
        <li><a href="/games/game">Game Page</a></li>
      </ul>
    </li>
    <li>
      Registration
      <ul>
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/auth/login">Login</a></li>
      </ul>
    </li>
  </ul>
</nav>