<html>
<head>
    <style>
        .menu{
            width: 100%;
            background: #1f2937; /*menu background*/
            color: white;
            padding: 3rem;
            box-sizing: border-box;
        }
        .background-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh; /* Full viewport height */
            background-image: url('/uno-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: -1; /* Sends the background behind the content */
            opacity: 0.7;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column; /* Stack elements vertically */
            align-items: center; /* Center form horizontally */
            justify-content: flex-start; /* Menu stays at the top */
            height: 100vh;
            background-color: #222428; /* Light background */
        }
        
        /*card background */
        section { 
            background: #ffffff; 
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            box-sizing: border-box;
            margin-top: 4rem;
            text-align: center;
            font-size: 30;
        }
    </style>
</head>
<body>
    <!-- Menu (fixed to top) -->
    <div class="menu">
        <%- include('partials/menu') %>
    </div>
    <div class="background-container"></div>
    <section>
            <p><%= title %></p>
    </section>

    <script src="/js/main.js"></script>
</body>
</html>
