<html>

<head>
    <title>Hello</title>
    <script src="/js/main.js" defer></script>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Hellddoesadw</p>

    <script src="/js/main.js"></script>
</body>

</html>