<!doctype html>
<html lang="en">

    <head>
        <h1>
            <%= title %>
        </h1>
    </head>

    <body>
        <p><%- include('../partials/menu') %></p>
        <p>Game Pagestuff</p>
    </body>

</html>