<!doctype html>
<html lang="en">

    <body>
        <%- include ('../partials/head') %>
        <div class="container mx-auto">
            <%- include('../partials/menu') %>
            <section>
                <div class="flex flex-row">
                    <section class="basis-4/6 mr-[20px]">
                        Lobby page for game <%= gameId %>
                    </section>
                    <div class="basis-2/6"><%-
                        include('../partials/chat')%></div>
                </div>
            </section>
            <script src="/js/game-lobby.js"></script>
        </div>
    </body>

</html>